<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans      
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 该 BeanPostProcessor 将自动起作用，对标注 @Autowired 的 Bean 进行自动注入 -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!-- 移除 boss Bean 的属性注入配置的信息 -->
	<bean id="boss" class="com.javahash.spring.autowire.Boss" />

	<bean id="office" class="com.javahash.spring.autowire.Office">
		<property name="officeNo" value="001" />
	</bean>
	<bean id="car" class="com.javahash.spring.autowire.Car" scope="singleton">
		<property name="brand" value=" 红旗 CA72" />
		<property name="price" value="2000" />
	</bean>
</beans>  